<div class="panel panel-info" ng-controller="GraphController">
    <div class="panel-heading" >
        <div class="pull-right">
            <a data-toggle="collapse" data-target="#collapse_graph">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </div>
        <div><b>Stock Chart</b></div>
    </div>
    <div class="panel-body panel-group collapse in" id="collapse_graph">
        <div class="row">
            <div class="container-fluid">
                <div id="chartContainer"></div>
            </div>
        </div>
    </div>
</div>