<nav class="navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapisble-header">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
            <span>
                <a class="navbar-brand topnav pull-left" href="#">NewsTickr</a>
                <angucomplete-alt id="stockLookup"
                                  placeholder="Search Stocks"
                                  pause="500"
                                  selected-object="model.selectedStock"
                                  remote-url="/api/project/stock?search="
                                  remote-url-data-field="results"
                                  title-field="name"
                                  clear-selected="true"
                                  minlength="2"
                                  input-class="form-control form-control-small"
                                  match-class="highlight" />
            </span>

        </div>
        <div class="collapse navbar-collapse" id="collapisble-header">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="btn btn-block " data-toggle="modal" data-target="#myModal">Login</a>
                </li>
                <li>
                    <a class="btn btn-block" data-toggle="modal" data-target="#myModal1">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <button type="button pull-left" class="close" data-dismiss="modal">&times;</button>
            </div>
            <ng-include src="'views/user/templates/login.view.client.html'" ></ng-include>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <button type="button pull-left" class="close" data-dismiss="modal">&times;</button>
            </div>
            <ng-include src="'views/user/templates/register.view.client.html'" ></ng-include>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="col-sm-6 push-sm-6">
        <ng-include src="'views/graph/templates/graph.view.client.html'" ></ng-include>
    </div>
    <div class="col-sm-6 pull-sm-6">
        <ng-include src="'views/news/templates/latest.view.client.html'"></ng-include>
    </div>
</div>